.card-dif {
    max-width: 500px;
    width: 100%;
    margin-top: 10px;
    margin: 25px;
    border: 5px solid #000;
    background-color: #cccccc;
    float: left;
}

.rg {
    margin-left: 0px;
}

.lf {
    margin-right: 5px;
}

.card-dif table thead {
    font-weight: bold;
}

.card-dif table {
    width: 100%;
}

.card-dif .value {
    text-align: center;
    border: 2px solid #000;
    padding: 5px;
    border-right: none;
    font-family: 'Times New Roman', Times, serif;
}

.card-dif .name {
    text-align: center;
    border: 2px solid #000;
    padding: 5px;
    border-left: none;
    font-family: 'Times New Roman', Times, serif;
}

.card-title {
    font-weight: bold;
    padding: 5px;
    padding-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.choice {
    width: 250px;
    margin: 1px;
}

.content-center {
    background-color: #FFF;
    width: 350px;
    padding: 5px;
    margin: 25px;
    height: 100px;
    border: #000 solid 5px;
}